* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

a {
    color: inherit;
}

#password, #make, #copy {
    padding: .5rem 1rem;
    display: inline-block;
    font-size: 1.25rem;
}

html, body {
    height: 100%;
}

body {
    background: #1BA;
    color: #ffffff;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

main {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#password {
    border: solid 1px #ffffff;
    font-family: "Roboto Mono", sans-serif;
}

#make, #copy {
    user-select: none;
    cursor: pointer;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
}

#inputs {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

#success {
    position: fixed;
    padding: .5rem 1rem;
    border-radius: .5rem .5rem 0 0;
    background: #000;
    color: #FFF;
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom .35s;
}

#success.active {
    bottom: 0;
}

@media screen and (max-width: 750px) {
    
    #inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #password {
        display: block;
        width: 92.5%;
    }
    
    #make {
        border-left: solid 1px #ffffff;
    }
    
    #copy, #make {
        margin-top: .5rem;
    }
}
